<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="favorite">Set new password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
      <img src="http://knitfitco.com/knitfitnew/resources/assets/files/assets/images/logoNew.png" class="theme-logo" alt="logo.png"> 

<form class="form-material">
   <ion-item class="form-group form-primary">
          <ion-label position="floating" style="color: #898989;">Enter new password</ion-label>
          <ion-input type="text" name="password" ngModel required></ion-input>
        </ion-item>
    <ion-item class="form-group form-primary">
      <ion-label position="floating" style="color: #898989;">Re-Enter new password</ion-label>
      <ion-input type="text" name="re_password" ngModel required></ion-input>
    </ion-item>
  <!-- <ion-text class="ion-float-right">
        <a routerLink="/home">Back to Login</a>
        </ion-text>

        <ion-text class="ion-float-left">
        <a routerLink="/home">Back to website</a>
        </ion-text> -->
        <div text-center margin-top>
        <button class="submit" type="submit"  (click)="sendMail()" ion-button margin-right style="background-color: transparent;
        border: 1px solid #0d665c;
        color: #0d665c !important;width: 99%;height: 30px" >
          Set password
        </button>
    </div>
</form>
</div>
  </ion-content>
