<ion-header [translucent]="true">
	<ion-toolbar>
		  <ion-buttons slot="start" routerLink="/home">
    <ion-icon class="ion-float-right" name="menu-outline" color="favorite"></ion-icon>
  </ion-buttons>
    <ion-title color="favorite"><img src="http://knitfitco.com/knitfitnew/resources/assets/files/assets/images/logoNew.png" class="theme-logo" alt="logo.png"> </ion-title>
    <ion-buttons slot="end" routerLink="/reset-password">
    <ion-icon  class="ion-float-left" name="notifications-outline" color="favorite"></ion-icon>
</ion-buttons>
  </ion-toolbar>
</ion-header> 
<ion-content>

<ion-grid>
  <ion-row>
	    <ion-col size="4">
			<ion-card>
				<ion-card-content>
					<ion-item class="form-group form-primary">
					<img src="http://knitfitco.com/knitfitnew/resources/assets/files/assets/icon/custom-icon/Projects.png" class="theme-logo" alt="Projects.png">
					</ion-item>
				</ion-card-content>
			</ion-card>
	    </ion-col>
	    <ion-col size="4">
	      <ion-card>
				<ion-card-content>
					<ion-item class="form-group form-primary">
					<img src="http://knitfitco.com/knitfitnew/resources/assets/files/assets/icon/custom-icon/Shop-Design.png" class="theme-logo" alt="Shop-Design.png">
					</ion-item>
				</ion-card-content>
			</ion-card>
	    </ion-col>
	    <ion-col size="4">
	      <ion-card>
				<ion-card-content>
					<ion-item class="form-group form-primary">
					<img src="http://knitfitco.com/knitfitnew/resources/assets/files/assets/icon/custom-icon/Timeline.png" class="theme-logo" alt="Timeline.png">
					</ion-item>
				</ion-card-content>
			</ion-card>
	    </ion-col>
	   
  </ion-row>
  <ion-row>
	    <ion-col size="4">
			<ion-card>
				<ion-card-content>
					<ion-item class="form-group form-primary">
					<img src="http://knitfitco.com/knitfitnew/resources/assets/files/assets/icon/custom-icon/Measurement.png" class="theme-logo" alt="Measurement.png">
					</ion-item>
				</ion-card-content>
			</ion-card>
	    </ion-col>
	    <ion-col size="4">
	      <ion-card>
				<ion-card-content>
					<ion-item class="form-group form-primary">
					<img src="http://knitfitco.com/knitfitnew/resources/assets/files/assets/icon/custom-icon/Friends.png" class="theme-logo" alt="Friends.png">
					</ion-item>
				</ion-card-content>
			</ion-card>
	    </ion-col>
	    <ion-col size="4">
	      <ion-card>
				<ion-card-content>
					<ion-item class="form-group form-primary">
					<img src="http://knitfitco.com/knitfitnew/resources/assets/files/assets/icon/custom-icon/My-Profile.png" class="theme-logo" alt="My-Profile.png">
					</ion-item>
				</ion-card-content>
			</ion-card>
	    </ion-col>
  </ion-row>
  <ion-row>
   <ion-col size="4">
	      <ion-card>
				<ion-card-content>
					<ion-item class="form-group form-primary">
					<img src="http://knitfitco.com/knitfitnew/resources/assets/files/assets/icon/custom-icon/To-do.png" class="theme-logo" alt="To-do.png">
					</ion-item>
				</ion-card-content>
			</ion-card>
	    </ion-col>
  </ion-row>
</ion-grid>

 <ion-card>
				<ion-card-content>
					<ion-item class="ion-float-left ion-color-favorite" color="favorite">Measurements</ion-item>
					<ion-item class="">
                       <button class="submit" type="submit" ion-button margin-right style="background-color: transparent;
        border: 1px solid #0d665c;
        color: #0d665c !important;width: 99%;height: 30px" >
          + Create
        </button>
					</ion-item>
				</ion-card-content>
			</ion-card>

</ion-content>
