<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="favorite">Recover your password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<form class="form-material">
   <ion-item class="form-group form-primary">
          <ion-label position="floating" style="color: #898989;">Enter your email address</ion-label>
          <ion-input type="text" name="email" ngModel required></ion-input>
        </ion-item>
  <ion-text class="ion-float-right">
        <a routerLink="/home">Back to Login</a>
        </ion-text>

        <ion-text class="ion-float-left">
        <a routerLink="/home">Back to website</a>
        </ion-text>
        <div text-center margin-top>
        <button class="submit" type="submit" (click)="sendMail()" ion-button margin-right style="background-color: transparent;
        border: 1px solid #0d665c;
        color: #0d665c !important;width: 99%;height: 30px" >
          Send password link
        </button>
    </div>
</form>
  </ion-content>
