#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}
.submit:hover {
     background-color: #0d665c; 
     border: 1px solid #0d665c;
    }
ion-header {
  --ion-background-color: #0D665C;
}
ion-title {
  --ion-color: #FFFFFF
}
.ion-color-favorite {
  --ion-color-base: #FFFFFF;
  }
.class {
  color: #0D665C;
}
.theme-logo {
  width: 150px !important;
}